<!DOCTYPE html>
<html lang="en">
  <%- include("./includes/header") %>
  <body>
    <%- include("./includes/navigation") %>
    <main>
      <% if(products.length > 0) { %> <% for(let product of products) { %>
      <div class="product-card">
        <div class="product-card__title"><h1><%= product.title %></h1></div>
        <img src="<%= product.imgURL %>" width="192" height="120" />
        <div class="product-card__price">$ <%= product.price %></div>
      </div>

      <% } %> <% } else { %>
      <h1>No Product available currently</h1>
      <% } %>
    </main>
  </body>
</html>
